
.dancing {
    font-family: 'Dancing Script', cursive;
}

.fugas {
    font-family: 'Fugaz One', cursive;
}


body {
    font-family: 'Raleway', sans-serif;
}

.grayscale {
    filter: grayscale(100%);
}