<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Ruttes Potpourri</title>
  <meta name="description" content="Ruttes Potpourri">
  <meta name="author" content="JVH">

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Fugaz+One&family=Raleway:wght@100;300;400;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LGC4P31ZQY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-LGC4P31ZQY');
  </script>
</head>

<body>
    <div class="mx-auto max-w-6xl px-4 mb-16">
      <header class="mt-16 text-center lg:flex flex-row justify-center">
          <h1 class="w-auto inline-block text-left mb-4">
              <span class="dancing text-4xl md:text-8xl ">Ruttes</span><br>
              <span class="fugas ml-8 text-yellow-800 text-6xl sm:text-8xl">Potpourri</span>
          </h1>
          <img src="/assets/img/potpourri.png" style="" class="h-48 w-auto mx-auto lg:mx-0 lg:h-64 lg:-mt-8 flex-grow-0">
        </header>
        {{ content }}
    </div>
</body>
</html>
